body {
    font-family: Lucida Grande, Open-sans;
    font-weight: 300;
    font-size: 2em;
}

.body-backdrop {
    background-image: url(../IMAGES/Wood-Grain-Background.jpg);
}

.affix {
    top: 0;
    width: 100%;
}

a {
    color: white;
}

a:visited {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover {
    color: ;
}

.nav > li > a {
    font-size: .5em;
    
}

.nav > li > a:hover{
    text-decoration: none;
}



header .navbar {
    padding: 4px 0;
    z-index: 16;
}


header .navbar-default {
    background-color: transparent; 
    padding-top: 10px;
}

header .navbar-default .navbar-nav a {
    margin-left: 85px;
    margin-top: 20px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: #ffffff;
    font-size: .9em;
    cursor: default;
}

header .navbar-default .navbar-nav a:hover, header .navbar-default .navbar-nav a:focus {
    background-color: transparent;
    color: #ffffff;
}

header .navbar-default .navbar-nav li:hover > a {
    background-color: #a62b2b;
    color: #ffffff;
}


header .navbar-default .navbar-nav .dropdown-content a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: sans-serif;
    font-weight: 400;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .navbar-default .navbar-nav .dropdown-content a:hover {
    background-color: #a62b2b;
    color: #ffffff;
    text-decoration: none;
}

.navbar {
    border-radius: 0;
    border: 0;
    height: 70px;
    margin-left: 0px;
    opacity: .9;
}

.dropdown {
    position: relative;
}

 

/* Dropdown Content */
.dropdown-content {
    margin-left:px;
    
    margin-left: 36%;
  
    margin-top: 0.5px;
    display: none;
    position: absolute;
    background-color: transparent; 
    min-width: 150px;
    min-height: 245px;
    overflow: hidden;
    padding-top: 10px;
    background-image: url(../IMAGES/Dropdown-Ribbon.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.dropdown:hover .dropdown-content {
    display: block;
}


/*NAVIGATION MENU*/

.wood-grain-background {
    background-image: url(../IMAGES/Wood-Grain-Background.jpg);
    height: 420px;
}

.wood-grain-spotlight-background {
    background-image: url(../IMAGES/Wood-Grain-Spotlight-Background.png);
    height: 420px;
    margin-top: -10px;
}

.abstract-design-left {
    float: left;
}

.abstract-design-right {
    float: right;
}

.company-logo {
    position: relative;
    width: 600px;
    height: 350px;
    padding-top: 100px;
    margin: 0 auto;
    display: block;
}

.road-logo {
    position: absolute;
    width: 600px;
    height: 260px;
    margin: 0 auto;
    display: block;
}

.nav-background-banner {
   
    background-image: url(../IMAGES/Banner-Ribbon.png);
    width: 1000px;
    height: 100px;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100%;
    margin-top: 5px;
    margin-right: 50px;
}

.dropdown-menu { 

    background-color: transparent;
    position: relative;
    padding-top: 10px; 
    padding-bottom: 0px;
    text-align: center;
    width : 100%;
}
   
.dropdown-info {
    font-size: 2em !important;
    background-color: brown;
    margin-bottom: 10px;
    color: #ffffff !important;
    
}

.dropdown-info:hover {
    color: #000080 !important;
}


/*Under Carousel Body*/

.border-pattern-top {
    background-image: url("../IMAGES/Border-Pattern1.jpg");
    margin-top:px;
    height: 10px;
    background-repeat: repeat-x;
}

.border-pattern-bottom {
    background-image: url("../IMAGES/Border-Pattern1.jpg");
    margin-top:17px;
    height: 10px;
    background-repeat: repeat-x;
}

.fork-title {
    font-size: 1em;
    text-align: center;
    font-weight: bolder;
    color: #000000;
    font-family:cursive
}

.dishes-title {
    text-align: center;
    font-weight: bold;
    color: #a62b2b;
    font-size: 2em;
    font-family: sans-serif;
}





/*MEDIUM SCALE (USE WHEN NEEDED)*/
@media (max-width: 1199px) {
    .nav-background-banner {
        margin-right: -45px;
    }

}






/*TABLET / MOBILE*/
@media (max-width: 991px) {  

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
        margin-top: 15px;
        float: right;
        width: 50px;
        height: 50px;
        border-radius: 0px;
        border: solid 0px #f30001;
        z-index: 1000;
    }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 32px;
        height: 5px;
        margin-top: 1px;
        margin-bottom: 7px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }


    .wood-grain-background {
        height: 250px;
    }

    .company-logo {
        position: relative;
        width: 375px;
        height: 240px;
        padding-top: 0px;
        margin: 0 auto;
        display: block;
    }

    .road-logo {
        position: absolute;
        width: 376px;
        height: 240px;
        margin: 0 auto;
        display: block;
    }
    
    .border-pattern-bottom {
        margin-top:52px;
    }
    
 
}





/*MOBILE ONLY*/

@media (max-width: 767px) {
    
    .dropdown-content { 
       position: relative; 
    }
    
    .company-logo {
        width: 300px;
        
    }

    .road-logo {
        width: 300px;
    }
    
    
}

/*
@media (max-width: 500px) {
   

}

@media (max-width: 450px) {
   
}

@media (max-width: 410px) {
   
}*/
